<div class="login">
    <form class="login__form">
        <div class="login__info">
            <h2 class="login__title">Вход</h2>
            <label for="login-auth" class="login__label">Логин</label>
            <input type="text" class="login__input" id="login-auth" name="login">
            <label for="password-auth" class="login__label">Пароль</label>
            <input type="password" class="login__input" id="password-auth" name="password">
        </div>
        <div class="login__buttons">
            <button class="login__btn-auth">Войти</button>

            <a class="login__no-account" href="/signin">Нет аккаунта?</a>
        </div>
    </form>
</div>