<div class="profile-edit">
    <div class="profile-edit__container">
        <div class="profile-edit__back"></div>
        <div class="profile-edit__main">
            <div class="prodile__first-info">
                <div class="profile-edit__avatar">
                    <img class="profile-edit__img" src={{avatarIcon}} alt="Аватарка">
                </div>
            </div>
            <ul class="profile-edit__list">
                <li class="profile__item">
                    <label class="profile__label" for="email">Почта</label>
                    <input class="profile__input" disabled placeholder="pochta@yandex.ru" name="email" id="email"/>
                </li>
                <li class="profile__item">
                    <label class="profile__label" for="login">Логин</label>
                    <input class="profile__input" disabled placeholder="ivanivanov" name="login" id="login"/>
                </li>
                <li class="profile__item">
                    <label class="profile__label" for="first_name">Имя</label>
                    <input class="profile__input" disabled placeholder="Иван" name="first_name" id="first_name"/>
                </li>
                <li class="profile__item">
                    <label class="profile__label" for="second_name">Фамилия</label>
                    <input class="profile__input" disabled placeholder="Иванов" name="second_name" id="second_name"/>
                </li>
                <li class="profile__item">
                    <label class="profile__label" for="display_name">Имя в чате</label>
                    <input class="profile__input" disabled placeholder="Иван" name="display_name" id="display_name"/>
                </li>
                <li class="profile__item">
                    <label class="profile__label" for="phone">Телефон</label>
                    <input class="profile__input" disabled placeholder="+7 (909) 967 30 30" name="phone" id="phone"/>
                </li>
            </ul>
            <button class="profile-edit__btnSave">Сохранить</button>
        </div>
    </div>
</div>