<div class="signin">
    <form class="signin__form">
        <div class="signin__info">
            <h2 class="signin__title">Регистрация</h2>

            <label for="email-reg" class="signin__label">Почта</label>
            <input type="email" class="signin__input" id="email-reg" name="email">

            <label for="login-reg" class="signin__label">Логин</label>
            <input type="text" class="signin__input" id="login-reg" name="login">

            <label for="first-name-reg" class="signin__label">Имя</label>
            <input type="text" class="signin__input" id="first-name-reg" name="first_name">

            <label for="second-name-reg" class="signin__label">Фамилия</label>
            <input type="text" class="signin__input" id="second-name-reg" name="second_name">

            <label for="phone-reg" class="signin__label">Телефон</label>
            <input type="text" class="signin__input" id="phone-reg" name="phone">

            <label for="password-reg" class="signin__label">Пароль</label>
            <input type="password" class="signin__input" id="password-reg" name="password">

            <label for="password-repeat-reg" class="signin__label">Пароль</label>
            <input type="password" class="signin__input" id="password-repeat-reg" name="password">
        </div>
        <div class="signin__buttons">
            <button class="signin__btn-register">Зарегистрироваться</button>
            <a class="signin__login" href="/">Войти</a>
        </div>
    </form>
</div>