<div class="profile-password-edit">
    <div class="profile-password-edit__container">
        <div class="profile-password-edit__back"></div>
        <div class="profile-password-edit__main">
            <div class="prodile__first-info">
                <div class="profile-password-edit__avatar">
                    <img class="profile-password-edit__img" src={{avatarIcon}} alt="Аватарка">
                </div>
            </div>
            <ul class="profile-password-edit__list">
                <li class="profile-password-edit__item">
                    <label class="profile-password-edit__label" for="oldPassword">Старый пароль</label>
                    <input class="profile-password-edit__input" type="password" placeholder="•••••••••" name="oldPassword" id="oldPassword"/>
                </li>
                <li class="profile-password-edit__item">
                    <label class="profile-password-edit__label" for="newPassword">Новый пароль</label>
                    <input class="profile-password-edit__input" type="password" placeholder="•••••••••••" name="newPassword" id="newPassword"/>
                </li>
                <li class="profile-password-edit__item">
                    <label class="profile-password-edit__label" for="newPasswordRepeat">Повторите новый пароль</label>
                    <input class="profile-password-edit__input" type="password" placeholder="•••••••••••" name="newPasswordRepeat" id="newPasswordRepeat"/>
                </li>
            </ul>
            <button class="profile-password-edit__btnSave">Сохранить</button>
        </div>
    </div>
</div>
