<div class="main">
    <h2 class="main__title">Список страниц</h2>
    <nav class="main__nav">
        <ul class="main__list">
            <li class="main__item"><a class="main__link" href="/login">Авторизация</a></li>
            <li class="main__item"><a class="main__link" href="/signin">Регистрация</a></li>
            <li class="main__item"><a class="main__link" href="/profile">Профиль</a></li>
            <li class="main__item"><a class="main__link" href="/profile-edit">Изменить данные</a></li>
            <li class="main__item"><a class="main__link" href="/profile-edit-password">Изменить пароль</a></li>
            <li class="main__item"><a class="main__link" href="/chats">Чат</a></li>
            <li class="main__item"><a class="main__link" href="/500">500</a></li>
            <li class="main__item"><a class="main__link" href="/404">404</a></li>
        </ul>
    </nav>
</div>
