<div class="notfound">
    <div class="notfound__container">
        <p class="notfound__error">404</p>
        <p class="notfound__title">Не туда попали</p>
        <a class="notfound__link-back" href="/chats">Назад к чатам</a>
    </div>
</div>
