<div class="error">
    <div class="error__container">
        <p class="error__error">500</p>
        <p class="error__title">Мы уже фиксим</p>
        <a class="error__link-back" href="/chats">Назад к чатам</a>
    </div>
</div>
